@font-face {
  font-family: 'CarbonType';
  src: url('/fonts/carbontype.ttf');
}

@font-face {
  font-family: 'Chivo';
  font-weight: bold;
  src: url('/fonts/Chivo-Black.ttf');
}

@-webkit-keyframes sway {
  0%  {
    -webkit-transform:rotate(2deg)
  }
  50% {
    -webkit-transform:rotate(-1deg)
  }
  100% {
    -webkit-transform:rotate(2deg)
  }
}

.landing {
  background: url('/images/landing/background.png') #120004;
  background-position: 50% top;
  background-repeat: no-repeat;
}

.landing header hgroup h2 {
  font-size: 20px;
  color: white;
  font-family: 'Chivo';
  text-transform: uppercase;
  background: black;
  padding: 10px;
  position: absolute;
  width: 487px;
  left: 50%;
  top: 262px;
  margin-left: -347px;
}

.landing header hgroup h3 {
  font-size: 13px;
  line-height: 21px;
  color: black;
  position: absolute;
  width: 570px;
  left: 50%;
  top: 500px;
  margin-left: -370px;
  font-family: 'CarbonType';
  font-weight: normal;
}

.landing a.facebook {
  display: block;
  position: absolute;
  width: 124px;
  height: 562px;
  background: url('/images/landing/tag.png');
  text-indent: -9999px;
  left: 50%;
  top: 15px;
  margin-left: 200px;
  -webkit-animation: sway 4s infinite;
}

.landing form {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -170px 0 0 -191px;
  width: 382px;
  height: 200px;
  background: url('/images/landing/form.png');
  z-index: 25;
}
.landing.form form { display: block; }

.landing form input, .landing form h3 {
  border: 0;
  background: none;
  outline: none;
  font-family: 'CarbonType';
  font-size: 22px;
}

.landing form input[name='city'] {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 260px;
}

.landing form input[name='state'] {
  position: absolute;
  top: 70px;
  left: 300px;
  width: 260px;
}

.landing form h3 {
  position: absolute;
  top: 124px;
  left: 20px;
}

.landing form input[type='submit'] {
  font-family: 'Chivo';
  font-weight: bold;
  font-size: 36px;
  color: #d90a00;
  position: absolute;
  top: 195px;
  left: 90px;
  cursor: pointer;
}

.landing form input[type='submit']:hover {
  color: #ff0c00;
}

.landing .blackout {
  display: none;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.8;
}
.landing.form .blackout { display: block; }