@font-face {
   font-family: 'StateFaceRegular';
   src: url('/fonts/webfont/stateface-regular-webfont.eot');
   src: url('/fonts/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/webfont/stateface-regular-webfont.woff') format('woff'),
        url('/fonts/webfont/stateface-regular-webfont.ttf') format('truetype'),
        url('/fonts/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'CarbonType';
  src: url('/fonts/carbontype.ttf');
}

@font-face {
  font-family: 'Chivo';
  font-weight: bold;
  src: url('/fonts/Chivo-Black.ttf');
}

@-webkit-keyframes sway {
  0%  {
    -webkit-transform:rotate(2deg);
  }
  50% {
    -webkit-transform:rotate(-1deg);
  }
  100% {
    -webkit-transform:rotate(2deg);
  }
}

html {

}

body.landing {
  background: url('/images/landing/background.png') #120004;
  background-position: 50% top;
  background-repeat: no-repeat;
}

body #landing {
  display: none;
}

body.landing #landing {
  display: block;
}

.landing header hgroup h2 {
  font-size: 23px;
  color: white;
  font-family: 'Chivo';
  text-transform: uppercase;
  background: black;
  padding: 10px;
  position: absolute;
  width: 550px;
  left: 50%;
  top: 262px;
  margin-left: -347px;
}

.landing header hgroup h3 {
  font-size: 13px;
  line-height: 21px;
  color: black;
  position: absolute;
  width: 570px;
  left: 50%;
  top: 500px;
  margin-left: -370px;
  font-family: 'CarbonType';
  font-weight: normal;
}

.landing a.facebook {
  display: block;
  position: absolute;
  width: 124px;
  height: 562px;
  background: url('/images/landing/tag.png');
  text-indent: -9999px;
  left: 50%;
  top: 15px;
  margin-left: 200px;
  -webkit-animation: sway 4s infinite;
}

.landing form {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -170px 0 0 -191px;
  width: 382px;
  height: 200px;
  background: url('/images/landing/form.png');
  z-index: 25;
}
.landing.form form { display: block; }

.landing form input, .landing form h3 {
  border: 0;
  background: none;
  outline: none;
  font-family: 'CarbonType';
  font-size: 22px;
}

.landing form input[name='city'] {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 260px;
}

.landing form input[name='state'] {
  position: absolute;
  top: 70px;
  left: 300px;
  width: 260px;
}

.landing form h3 {
  position: absolute;
  top: 124px;
  left: 20px;
}

.landing form input[type='submit'] {
  font-family: 'Chivo';
  font-weight: bold;
  font-size: 36px;
  color: #d90a00;
  position: absolute;
  top: 195px;
  left: 90px;
  cursor: pointer;
}

.landing form input[type='submit']:hover {
  color: #ff0c00;
}

.landing .blackout {
  display: none;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.8;
}
.landing.form .blackout { display: block; }







body.show {
  background: black;
  background-position: 50% top;
  background-repeat: no-repeat;
}

body #show {
  display: none;
}

body.show #show {
  display: block;
}


#layers {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 720px;
  overflow: hidden;
}

#backgrounds {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 720px;
}

#backgrounds img {
  position: absolute;
  width: 100%;
  height: 100%;
  /*opacity: 0.33;*/
  -webkit-transition: all 1s ease-in-out;
}

#backgrounds img:nth-of-type(2) {
  background-image: url('/images/show/diagram.png');
  opacity: 0.6;
 }

 #backgrounds img:nth-of-type(3) {
  background-image: url('/images/show/text.png');
  margin-top: 200px;
  background-repeat: repeat-x;
 }

 #backgrounds img:nth-of-type(1) {
  background-image: url('/images/show/doors.png');
 }

 #backgrounds[data-page='1'] img:nth-of-type(1) { background-position: 0px 0; }
 #backgrounds[data-page='1'] img:nth-of-type(2) { background-position: 0px 0; }
 #backgrounds[data-page='1'] img:nth-of-type(3) { background-position: 0px 0; }

 #backgrounds[data-page='2'] img:nth-of-type(3) { background-position: -600px 0; }
 #backgrounds[data-page='2'] img:nth-of-type(2) { background-position: -300px 0; }
 #backgrounds[data-page='2'] img:nth-of-type(1) { background-position: -100px 0; }

 #backgrounds[data-page='3'] img:nth-of-type(3) { background-position: -1200px 0; }
 #backgrounds[data-page='3'] img:nth-of-type(2) { background-position: -600px 0; }
 #backgrounds[data-page='3'] img:nth-of-type(1) { background-position: -200px 0; }

 #backgrounds[data-page='4'] img:nth-of-type(3) { background-position: -1800px 0; }
 #backgrounds[data-page='4'] img:nth-of-type(2) { background-position: -900px 0; }
 #backgrounds[data-page='4'] img:nth-of-type(1) { background-position: -300px 0; }

 #backgrounds[data-page='5'] img:nth-of-type(3) { background-position: -2400px 0; }
 #backgrounds[data-page='5'] img:nth-of-type(2) { background-position: -1200px 0; }
 #backgrounds[data-page='5'] img:nth-of-type(1) { background-position: -400px 0; }

#modules {
  width: 100%;
  height: 640px;
  position: absolute;
  top: 10px;
  left: 0;
}

#modules #controls {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

  #modules #controls a {
    color: white;
    font-family: 'CarbonType';
    display: block;
    padding: 0 60px;
    text-decoration: none;
  }

  #modules #controls a:last-child {
    display: block;
    position: absolute;
    right: 0;
  }


#modules section {
  z-index: 49;
  position: absolute;
  top: 0;
  width: 960px;
  height: 640px;
  margin-left: -480px;
  -webkit-transition: all 1s ease-in-out;
}

/*#modules section:nth-of-type(1) { background: red; }
#modules section:nth-of-type(2) { background: blue; }
#modules section:nth-of-type(3) { background: green; }
#modules section:nth-of-type(4) { background: orange; }
#modules section:nth-of-type(5) { background: yellow; }*/

#modules[data-page='1'] section:nth-of-type(1) { left: 50%; }
#modules[data-page='1'] section:nth-of-type(2) { left: 150%; }
#modules[data-page='1'] section:nth-of-type(3) { left: 250%; }
#modules[data-page='1'] section:nth-of-type(4) { left: 350%; }
#modules[data-page='1'] section:nth-of-type(5) { left: 450%; }

#modules[data-page='2'] section:nth-of-type(1) { left: -50%; }
#modules[data-page='2'] section:nth-of-type(2) { left: 50%; }
#modules[data-page='2'] section:nth-of-type(3) { left: 150%; }
#modules[data-page='2'] section:nth-of-type(4) { left: 250%; }
#modules[data-page='2'] section:nth-of-type(5) { left: 350%; }

#modules[data-page='3'] section:nth-of-type(1) { left: -150%; }
#modules[data-page='3'] section:nth-of-type(2) { left: -50%; }
#modules[data-page='3'] section:nth-of-type(3) { left: 50%; }
#modules[data-page='3'] section:nth-of-type(4) { left: 150%; }
#modules[data-page='3'] section:nth-of-type(5) { left: 250%; }

#modules[data-page='4'] section:nth-of-type(1) { left: -250%; }
#modules[data-page='4'] section:nth-of-type(2) { left: -150%; }
#modules[data-page='4'] section:nth-of-type(3) { left: -50%; }
#modules[data-page='4'] section:nth-of-type(4) { left: 50%; }
#modules[data-page='4'] section:nth-of-type(5) { left: 150%; }

#modules[data-page='5'] section:nth-of-type(1) { left: -350%; }
#modules[data-page='5'] section:nth-of-type(2) { left: -250%; }
#modules[data-page='5'] section:nth-of-type(3) { left: -150%; }
#modules[data-page='5'] section:nth-of-type(4) { left: -50%; }
#modules[data-page='5'] section:nth-of-type(5) { left: 50%; }


.slide1 h1 {
  background: #d90a00;
  font-family: 'Chivo';
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  display: inline-block;
  float: left;
  clear: both;
}

.slide1 h2 {
  color: #cdc196;
  clear: both;
  font-family: 'CarbonType';
  font-size: 48px;
  margin: 0 0 0 140px;
  padding: 10px 0 0 0;
}

.slide1 h3 {
  color: white;
  clear: both;
  font-family: 'CarbonType';
  font-size: 24px;
  margin: 0 0 0 140px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 10px 0 0 0;
}


.fbProfileImageContainer {
  border: 5px solid black;
  border-right-width: 10px;
  border-bottom-width: 10px;
  display: inline-block;
  background: black;
  position: absolute;
  top: 162px;
  left: 50%;
  margin-left: -470px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#cert {
  position: absolute;
  top: 0;
  left: 50%;
  width: 600px;
  height: 550px;
  margin-left: -450px;
}

#cert p {
  position: absolute;
  font-family: 'CarbonType';
  font-size: 20px;
}

#cert .header {
  text-align: center;
  font-family: 'Chivo';
  font-weight: bold;
  text-transform: uppercase;
  top: 43px;
  left: 0px;
  width: 100%;
  margin-left: -26px;
  font-size: 18px;
}

#cert .fname {
  top: 104px;
  left: 20px;
}

#cert .lname {
  top: 104px;
  left: 300px;
}

#cert .city {
  top: 160px;
  left: 20px;
}

#cert .state {
  top: 160px;
  left: 450px;
}

#cert .date {
  top: 222px;
  left: 20px;
}

#cert .cause {
  top: 315px;
  left: 20px;
}


.slide3 h1 {
  background: #000;
  font-family: 'Chivo';
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  display: inline-block;
  float: left;
  padding: 3px 5px;
  clear: both;
}

.slide3 .friend-facts {
  clear: both;
  list-style: none;
  padding-top: 50px;
}

.slide3 .friend-facts li {
  background: rgba(18, 33, 0, 0.8);
  border: 1px solid black;
  width: 280px;
  padding: 16px;
  float: left;
  margin: 4px;
  position: relative;
}

.slide3 .friend-facts li h2 {
  font-family: 'CarbonType';
  color: white;
  font-size: 13px;
  position: absolute;
  top: 2px;
  right: 8px;

}

.slide3 .friend-facts li h3 {
  color: rgba(18, 33, 0, 1);
  font-family: 'StateFaceRegular';
  text-shadow: 0px 0px 4px #4f5747;
  font-size: 110px;
  line-height: 75px;
  position: absolute;
  top: -70px;
  right: 0;
}

.slide3 .friend-facts li img {
  border: 5px solid black;
  border-right-width: 10px;
  border-bottom-width: 10px;
  min-height: 80px;
}

.slide3 .friend-facts li p {
  color: #cdc196;
  font-family: 'Chivo';
  font-size: 14px;
  line-height: 18px;
}

.slide3 .friend-facts li a {
  display: inline-block;
  color: black;
  background: #cdc196;
  text-transform: uppercase;
  padding: 7px;
  text-decoration: none;
  font-family: 'CarbonType';
}