@font-face {
   font-family: 'StateFaceRegular';
   src: url('/fonts/webfont/stateface-regular-webfont.eot');
   src: url('/fonts/webfont/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/webfont/stateface-regular-webfont.woff') format('woff'),
        url('/fonts/webfont/stateface-regular-webfont.ttf') format('truetype'),
        url('/fonts/webfont/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
  font-family: 'CarbonType';
  src: url('/fonts/carbontype.ttf');
}

@font-face {
  font-family: 'Chivo';
  font-weight: bold;
  src: url('/fonts/Chivo-Black.ttf');
}

@-webkit-keyframes sway {
  0%  {
    -webkit-transform:rotate(2deg);
  }
  50% {
    -webkit-transform:rotate(-1deg);
  }
  100% {
    -webkit-transform:rotate(2deg);
  }
}

html {

}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 5000;
  display: none;
}

#clip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: none;
  z-index: 4000;
}

#clip a {
  color: white;
  font-family: 'Chivo';
  font-size: 12px;
  position: absolute;
  top: 184px;
  left: 50%;
  margin-left: -256px;
  width: 512px;
  display: block;
}

#clip video {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -256px;
}

body.landing, body.video {
  background: url('/images/landing/background.png') #120004;
  background-position: 50% top;
  background-repeat: no-repeat;
}

body #landing, body #video {
  display: none;
}

body.landing #landing, body.video #video {
  display: block;
}

.landing header hgroup h2 {
  font-size: 23px;
  color: white;
  font-family: 'Chivo';
  text-transform: uppercase;
  background: black;
  padding: 10px;
  position: absolute;
  width: 550px;
  left: 50%;
  top: 262px;
  margin-left: -347px;
}

.landing header hgroup h3 {
  font-size: 13px;
  line-height: 21px;
  color: black;
  position: absolute;
  width: 570px;
  left: 50%;
  top: 500px;
  margin-left: -370px;
  font-family: 'CarbonType';
  font-weight: normal;
}

.landing a.facebook {
  display: block;
  position: absolute;
  width: 124px;
  height: 562px;
  background: url('/images/landing/tag.png');
  text-indent: -9999px;
  left: 50%;
  top: 15px;
  margin-left: 200px;
  -webkit-animation: sway 4s infinite;
}

.landing form {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -170px 0 0 -191px;
  width: 382px;
  height: 200px;
  background: url('/images/landing/form.png');
  z-index: 25;
}
.landing.form form { display: block; }

.landing form input, .landing form h3 {
  border: 0;
  background: none;
  outline: none;
  font-family: 'CarbonType';
  font-size: 22px;
}

.landing form input[name='city'] {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 260px;
}

.landing form input[name='state'] {
  position: absolute;
  top: 70px;
  left: 300px;
  width: 260px;
}

.landing form h3, .landing form input[name='birthday'] {
  position: absolute;
  top: 140px;
  left: 20px;
}

.landing form input[type='submit'] {
  font-family: 'Chivo';
  font-weight: bold;
  font-size: 36px;
  color: #d90a00;
  position: absolute;
  top: 195px;
  left: 90px;
  cursor: pointer;
}

.landing form input[type='submit']:hover {
  color: #ff0c00;
}

.landing .blackout {
  display: none;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.8;
}
.landing.form .blackout { display: block; }




#video section {
  position: absolute;
  left: 50%;
  top: 190px;
  width: 640px;
  height: 360px;
  margin-left: -320px;
}

@-webkit-keyframes loading {
  0%  {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

#video section h4 {
  text-align: center;
  color: #D90A00;
  font-family: 'Chivo';
  font-size: 28px;
  margin-top: -1px;
  -webkit-animation: loading 2s infinite;
}




body.show {
  background: black;
  background-position: 50% top;
  background-repeat: no-repeat;
}

body #show {
  display: none;
}

body.show #show {
  display: block;
}

#show nav {
  position: absolute;
  left: 0;
  top: 680px;
  height: 50px;
  right: 0;
  background: url('/images/show/toolbar.png');
  z-index: 600;
  color: white;
  font-family: 'CarbonType';
  font-size: 16px;
  text-transform: uppercase;
}

#show nav div {
  width: 420px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -210px;
}

#show nav a {
  color: inherit;
  text-decoration: none;
  padding: 14px 55px 0 23px;
  display: block;
  float: left;
}

#show nav a:nth-of-type(1) { background: url('/images/show/share.png') 0px 16px no-repeat; }
#show nav a:nth-of-type(2) { background: url('/images/show/react.png') 0px 16px no-repeat; }
#show nav a:nth-of-type(3) { background: url('/images/show/watch.png') 0px 16px no-repeat; }

#show > footer {
  position: absolute;
  background: black;
  height: 200px;
  top: 750px;
  left: 0;
  right: 0;
  z-index: 500;
}

#show > footer p {
  color: white;
  font-family: 'CarbonType';
  font-size: 13px;
  width: 356px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -375px;
}

#show > footer img {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: 40px;
}

#layers {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 720px;
  overflow: hidden;
}

#backgrounds {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 720px;
}

#backgrounds img {
  position: absolute;
  width: 100%;
  height: 100%;
  /*opacity: 0.33;*/
  -webkit-transition: all 1s ease-in-out;
}

#backgrounds img:nth-of-type(2) {
  background-image: url('/images/show/diagram.png');
  opacity: 0.6;
 }

 #backgrounds img:nth-of-type(3) {
  background-image: url('/images/show/text.png');
  margin-top: 200px;
  background-repeat: repeat-x;
 }

 #backgrounds img:nth-of-type(1) {
  background-image: url('/images/show/doors.png');
 }

 #backgrounds[data-page='1'] img:nth-of-type(1) { background-position: 0px 0; }
 #backgrounds[data-page='1'] img:nth-of-type(2) { background-position: 0px 0; }
 #backgrounds[data-page='1'] img:nth-of-type(3) { background-position: 0px 0; }

 #backgrounds[data-page='2'] img:nth-of-type(3) { background-position: -600px 0; }
 #backgrounds[data-page='2'] img:nth-of-type(2) { background-position: -300px 0; }
 #backgrounds[data-page='2'] img:nth-of-type(1) { background-position: -100px 0; }

 #backgrounds[data-page='3'] img:nth-of-type(3) { background-position: -1200px 0; }
 #backgrounds[data-page='3'] img:nth-of-type(2) { background-position: -600px 0; }
 #backgrounds[data-page='3'] img:nth-of-type(1) { background-position: -200px 0; }

 #backgrounds[data-page='4'] img:nth-of-type(3) { background-position: -1800px 0; }
 #backgrounds[data-page='4'] img:nth-of-type(2) { background-position: -900px 0; }
 #backgrounds[data-page='4'] img:nth-of-type(1) { background-position: -300px 0; }

 #backgrounds[data-page='5'] img:nth-of-type(3) { background-position: -2400px 0; }
 #backgrounds[data-page='5'] img:nth-of-type(2) { background-position: -1200px 0; }
 #backgrounds[data-page='5'] img:nth-of-type(1) { background-position: -400px 0; }

#modules {
  width: 100%;
  height: 640px;
  position: absolute;
  top: 0px;
  left: 0;
}

#modules #controls {
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

  #modules #controls a {
    color: white;
    font-family: 'CarbonType';
    display: inline-block;
    float: left;
    padding: 40px 0;
    text-decoration: none;
    background: url('/images/show/leftarrow.png') top left no-repeat;
    max-width: 150px;
    min-height: 100px;
    margin-left: 10px;
  }

  #modules #controls a:last-child {
    display: block;
    position: absolute;
    right: 0;
    background: url('/images/show/rightarrow.png') top right no-repeat;
    margin-right: 10px;
    text-align: right;
  }


#modules section {
  z-index: 49;
  position: absolute;
  top: 0;
  width: 960px;
  height: 640px;
  margin-left: -480px;
  -webkit-transition: all 1s ease-in-out;
}

/*#modules section:nth-of-type(1) { background: red; }
#modules section:nth-of-type(2) { background: blue; }
#modules section:nth-of-type(3) { background: green; }
#modules section:nth-of-type(4) { background: orange; }
#modules section:nth-of-type(5) { background: yellow; }*/

#modules[data-page='1'] section:nth-of-type(1) { left: 50%; }
#modules[data-page='1'] section:nth-of-type(2) { left: 150%; }
#modules[data-page='1'] section:nth-of-type(3) { left: 250%; }
#modules[data-page='1'] section:nth-of-type(4) { left: 350%; }
#modules[data-page='1'] section:nth-of-type(5) { left: 450%; }

#modules[data-page='2'] section:nth-of-type(1) { left: -50%; }
#modules[data-page='2'] section:nth-of-type(2) { left: 50%; }
#modules[data-page='2'] section:nth-of-type(3) { left: 150%; }
#modules[data-page='2'] section:nth-of-type(4) { left: 250%; }
#modules[data-page='2'] section:nth-of-type(5) { left: 350%; }

#modules[data-page='3'] section:nth-of-type(1) { left: -150%; }
#modules[data-page='3'] section:nth-of-type(2) { left: -50%; }
#modules[data-page='3'] section:nth-of-type(3) { left: 50%; }
#modules[data-page='3'] section:nth-of-type(4) { left: 150%; }
#modules[data-page='3'] section:nth-of-type(5) { left: 250%; }

#modules[data-page='4'] section:nth-of-type(1) { left: -250%; }
#modules[data-page='4'] section:nth-of-type(2) { left: -150%; }
#modules[data-page='4'] section:nth-of-type(3) { left: -50%; }
#modules[data-page='4'] section:nth-of-type(4) { left: 50%; }
#modules[data-page='4'] section:nth-of-type(5) { left: 150%; }

#modules[data-page='5'] section:nth-of-type(1) { left: -350%; }
#modules[data-page='5'] section:nth-of-type(2) { left: -250%; }
#modules[data-page='5'] section:nth-of-type(3) { left: -150%; }
#modules[data-page='5'] section:nth-of-type(4) { left: -50%; }
#modules[data-page='5'] section:nth-of-type(5) { left: 50%; }


.slide1 h1 {
  background: #d90a00;
  font-family: 'Chivo';
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  display: inline-block;
  float: left;
  clear: both;
  margin-left: 200px;
}

.slide1 h1:first-of-type {
  padding-top: 20px;
}

.slide1 h1:last-of-type {
  padding-bottom: 20px;
}

.slide1 h2 {
  color: #cdc196;
  clear: both;
  font-family: 'CarbonType';
  font-size: 48px;
  margin: 0 0 0 370px;
  padding: 70px 0 0 0;
}

.slide1 h3 {
  color: white;
  clear: both;
  font-family: 'CarbonType';
  font-size: 24px;
  margin: 0 0 0 410px;
  text-transform: uppercase;
  font-weight: normal;
  padding: 30px 0 0 0;
  opacity: 1;
}

.slide1 h3 a {
  color: inherit;
  text-decoration: none;
}

@-webkit-keyframes whatHappened {
  0%  {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#modules[data-page='1'] .slide1 h3 {
  -webkit-animation: whatHappened 5s 1;
}


.fbProfileImageContainer {
  border: 5px solid black;
  border-right-width: 10px;
  border-bottom-width: 10px;
  display: inline-block;
  background: black;
  position: absolute;
  top: 196px;
  left: 50%;
  margin-left: -270px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.certificate {
  margin-left: 150px;
}

#cert {
  position: absolute;
  top: 0;
  left: 50%;
  width: 600px;
  height: 550px;
  margin-left: -300px;
}

#cert p {
  position: absolute;
  font-family: 'CarbonType';
  font-size: 20px;
}

#cert .header {
  text-align: center;
  font-family: 'Chivo';
  font-weight: bold;
  text-transform: uppercase;
  top: 43px;
  left: 0px;
  width: 100%;
  margin-left: -26px;
  font-size: 18px;
}

#cert p {
  display: none;
}

#cert .fname {
  top: 104px;
  left: 20px;
}

#cert .lname {
  top: 104px;
  left: 300px;
}

#cert .city {
  top: 160px;
  left: 20px;
}

#cert .state {
  top: 160px;
  left: 450px;
}

#cert .date {
  top: 222px;
  left: 20px;
}

#cert .cause {
  top: 315px;
  left: 20px;
  text-transform: capitalize;
}

#cert .system {
  top: 495px;
  left: 340px;
  text-transform: capitalize;
  font-family: 'Chivo';
  font-weight: normal;
  font-size: 13px;
  text-transform: uppercase;
  text-align: right;
}

#cert .signature {
  background: url('/images/show/signature.png');
  width: 296px;
  height: 90px;
  position: absolute;
  top: 450px;
  left: 50px;
  display: none;
}

#cert .stamp {
  background: url('/images/show/caseClosed.png');
  width: 448px;
  height: 82px;
  -webkit-transform: rotate(-35deg);
  position: absolute;
  top: 200px;
  left: 50px;
  display: none;
}

#cert .questionmark {
  color: #D90A00;
  font-family: 'CarbonType';
  font-size: 250px;
  position: absolute;
  top: -120px;
  left: 200px;
}

#cert .check {
  background: url('/images/show/xmark.png');
  width: 12px;
  height: 13px;
  position: absolute;
  top: 200px;
  left: 50px;
  display: none;
}


.slide3 h1 {
  background: #000;
  font-family: 'Chivo';
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  display: inline-block;
  float: left;
  padding: 3px 5px;
  clear: both;
  margin-left: 100px;
}

.slide3 h1:nth-of-type(1) {
  padding-top: 20px;
}

.slide3 h1:last-of-type {
  padding-bottom: 20px;
}

.slide3 .friend-facts {
  clear: both;
  list-style: none;
  padding-top: 30px;
  margin-left: 100px;
}

.slide3 .friend-facts li {
  background: rgba(18, 33, 0, 0.8);
  border: 1px solid black;
  width: 280px;
  padding: 16px;
  float: left;
  margin: 4px;
  position: relative;
}

.slide3 .friend-facts li h2 {
  font-family: 'CarbonType';
  color: white;
  font-size: 13px;
  position: absolute;
  top: 2px;
  right: 8px;

}

.slide3 .friend-facts li h3 {
  color: rgba(18, 33, 0, 1);
  font-family: 'StateFaceRegular';
  text-shadow: 0px 0px 4px #4f5747;
  font-size: 110px;
  line-height: 75px;
  position: absolute;
  top: -70px;
  right: 0;
}

.slide3 .friend-facts li img {
  border: 5px solid black;
  border-right-width: 10px;
  border-bottom-width: 10px;
  min-height: 80px;
}

.slide3 .friend-facts li p {
  color: #cdc196;
  font-family: 'Chivo';
  font-size: 14px;
  line-height: 18px;
}

.slide3 .friend-facts li a {
  display: inline-block;
  color: black;
  background: #cdc196;
  text-transform: uppercase;
  padding: 7px;
  text-decoration: none;
  font-family: 'CarbonType';
}


.slide4 > h2 {
  margin: 0;
  background: black;
  padding-top: 15px;
  color: #d90a00;
  font-family: 'Chivo';
  font-weight: bold;
  font-size: 36px;
  z-index: 401;
  position: relative;
}

.slide4 > h3 {
  margin: 0;
  background: black;
  padding-bottom: 15px;
  color: white;
  font-family: 'Chivo';
  font-weight: bold;
  font-size: 24px;
  position: relative;
  z-index: 401;
}

.slide4 .stories {
  list-style: none;
}

.slide4 .stories li {
  background: url('/images/show/tag.png');
  width: 276px;
  height: 624px;
  float: left;
  margin-top: -100px;
  position: relative;
  margin-left: -10px;
  position: relative;
  z-index: 400;
  cursor: pointer;
}

.slide4 .stories li:nth-of-type(1) { margin-left: 0; }
.slide4 .stories li:nth-of-type(2) { -webkit-transform:rotate(3deg); }
.slide4 .stories li:nth-of-type(3) { -webkit-transform:rotate(-1deg); }

.slide4 .stories li h3 {
  font-family: 'CarbonType';
  color: black;
  font-size: 20px;
  padding: 160px 14px 0 19px;
  -webkit-transform:rotate(-1deg);
}

.slide4 .stories li h4 {
  text-align: center;
  font-family: 'Chivo';
  margin-top: 0;
  color: #D90A00;
}

.slide4 .stories li img {
  width: 221px;
  display: inline-block;
  min-height: 100px;
  padding: 0 0 0 21px;
  -webkit-transform:rotate(-1deg);
}

.slide4 .stories li p {
  font-family: 'Chivo';
  font-size: 13px;
  line-height: 16px;
  padding: 6px 15px 0 22px;
  -webkit-transform:rotate(-1deg);
}

.slide4 .stories li footer {
  position: absolute;
  left: 30px;
  font-family: 'CarbonType';
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  bottom: 27px;
  -webkit-transform:rotate(-1deg);
}

.slide4 .stories li footer a:first-child {
  text-indent: -999px;
  width: 20px;
  height: 20px;
  background: url('/images/show/fb.png');
  display: inline-block;
  color: rgba(0,0,0,0);
}

.slide4 .stories li footer a:last-child {
  text-indent: -999px;
  width: 20px;
  height: 20px;
  background: url('/images/show/twitter.png');
  display: inline-block;
  color: rgba(0,0,0,0);
}