<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="If I Die Today" />
    <meta property="og:description" content="A Project inspired by Post Mortem, a collaborative initiative by FRONTLINE, ProPublica and NPR on Death Investigation in America." />
    <meta property="fb:app_id" content="<%= app.id %>" />

    <link rel="stylesheet" href="/stylesheets/landing.css">
  </head>
  <body class="landing">
    <div id="fb-root"></div>

    <header>
      <hgroup>
        <h2>Will anyone really know what happened?</h2>
        <h3>A project inspired by Post Mortem, a collaborative reporting initiative from FRONTLINE, ProPublica and NPR.</h3>
      </hgroup>
    </header>

    <div>
      <a href="#" class="facebook" onclick="fblogin();return false;">Log in with Facebook</a>
    </div>

    <footer>
      <p></p>
    </footer>

    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '371339856249007', // App ID
          channelUrl : '', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
      //your fb login function
      function fblogin() {
        FB.login(function(response) {
        }, {perms:'user_likes,user_photos,user_photo_video_tags,user_birthday,user_location'});
      }
    </script>
  </body>
</html>