<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="If I Die Today" />
    <meta property="og:description" content="A Project inspired by Post Mortem, a collaborative initiative by FRONTLINE, ProPublica and NPR on Death Investigation in America." />
    <meta property="fb:app_id" content="<%= app.id %>" />

    <script src="/scripts/states.js"></script>

    <link rel="stylesheet" href="/stylesheets/landing.css">
  </head>
  <body class="landing">
    <div id="fb-root"></div>

    <div id="landing">
      <header>
        <hgroup>
          <h2>Will anyone really know what happened?</h2>
          <h3>A project inspired by Post Mortem, a collaborative reporting initiative from FRONTLINE, ProPublica and NPR.</h3>
        </hgroup>
      </header>

      <div>
        <a href="#" class="facebook">Log in with Facebook</a>
      </div>

      <form>
        <input type="text" name="city" autocomplete="off" placeholder="(Boston)" id="city">
        <input type="text" name="state" autocomplete="off" placeholder="(MA)" id="state">
        <h3 id="birthday"></h3>
        <input type="submit" name="" value="Continue" id="submit">
      </form>
      <div class="blackout"></div>
    </div>

    <div id="show">
      <div id="layers">
        <div id="backgrounds" data-page="1">
          <img>
          <img>
          <img>
        </div>

        <div id="modules" data-page="1">
          <div id="controls">
            <a href="#previous">Previous</a>
            <a href="#next">Next</a>
          </div>

          <section class="slide1">
            <h1>You are one</h1>
            <h1>of the 2.5 million</h1>
            <h1>people who died</h1>
            <h1>in the U.S. this year.</h1>
            <h2><span class="birthyear">1986</span>-2012</h2>
            <h3>What happened?</h3>
            <div class="fbProfileImageContainer">
              <img src="" alt="" class="fbProfileImage">
            </div>
          </section>

          <section class="slide2">
            <img src="/images/show/certificate.png" class="certificate" alt="">
            <div id="cert">
              <p class="header"></p>
              <p class="fname"></p>
              <p class="lname"></p>
              <p class="city"></p>
              <p class="state"></p>
              <p class="date"></p>
              <p class="cause"></p>
            </div>
          </section>

          <section>
            <h1>Venenatis Inceptos Pellentesque Dapibus </h1>
            <h2>Sollicitudin Dapibus Ornare</h2>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </section>

          <section>
            <h1>Venenatis Inceptos Pellentesque Dapibus </h1>
            <h2>Sollicitudin Dapibus Ornare</h2>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </section>

          <section>
            <h1>Venenatis Inceptos Pellentesque Dapibus </h1>
            <h2>Sollicitudin Dapibus Ornare</h2>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          </section>
        </div>
      </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/scripts/date.js/1.0-alpha1.js"></script>

    <script src="/scripts/application.js"></script>
  </body>
</html>