<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">

    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="If I Die Today" />
    <meta property="og:description" content="A Project inspired by Post Mortem, a collaborative initiative by FRONTLINE, ProPublica and NPR on Death Investigation in America." />
    <meta property="fb:app_id" content="<%= app.id %>" />

    <link rel="stylesheet" href="/stylesheets/landing.css">
  </head>
  <body class="landing">
    <div id="fb-root"></div>

    <header>
      <hgroup>
        <h2>Will anyone really know what happened?</h2>
        <h3>A project inspired by Post Mortem, a collaborative reporting initiative from FRONTLINE, ProPublica and NPR.</h3>
      </hgroup>
    </header>

    <div>
      <a href="#" class="facebook">Log in with Facebook</a>
    </div>

    <form>
      <input type="text" name="city" autocomplete="off" placeholder="(Boston)">
      <input type="text" name="state" autocomplete="off" placeholder="(MA)">
      <h3>1986-05-05</h3>
      <input type="submit" name="" value="Continue">
    </form>
    <div class="blackout"></div>

    <footer>
      <p></p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/scripts/application.js"></script>
  </body>
</html>